@model ICollection<NewsSite.Models.Account.UsersInRoleViewModel>

<h2>Потребители</h2>

<a asp-action="Create" class="btn btn-primary">Добави потребител</a>
<div>
    <table style="border:solid black 4px">
        <thead style="border:solid black 4px">
            <tr style="border:solid black 2px">
                <th style="border:solid black 2px">E-mail</th>
                <th style="border:solid black 2px">Собствено име</th>
                <th style="border:solid black 2px">Бащино име</th>
                <th style="border:solid black 2px">Фамилия</th>
                <th style="border:solid black 2px">Псевдоним</th>
                <th style="border:solid black 2px">Роля</th>
                <th style="border:solid black 2px">Действия</th>
            </tr>
        </thead>
        <tbody style="border:solid black 4px">
            @foreach (var @user in Model)
            {
                <tr style="border:solid black 2px">
                    <td style="border:solid black 2px">@user.Email</td>
                    <td style="border:solid black 2px">@user.FirstName</td>
                    <td style="border:solid black 2px">@user.FatherName</td>
                    <td style="border:solid black 2px">@user.FamilyName</td>
                    <td style="border:solid black 2px">@user.Username</td>
                    <td style="border:solid black 2px">@user.Role</td>
                    <td style="border:solid black 2px">
                        <a class="btn btn-danger" asp-action="">Изтрий</a>
                        <a class="btn btn-secondary" asp-action="">Редактирай</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>