@model NewsSite.Models.Articles.DeleteArticleViewModel

<h1>Сигурни ли сте, че искате да изтриете тази новина?</h1>

<div>
    <h5>Заглавие: @Model.Title</h5>
    <p>Снимка: @Model.Image</p>
    <p>Съдържание: @Model.Content</p>
    <p>Дата на публикуване: @Model.PublishedDate</p>
    <p>Автор: @Model.User</p>
    <p>Категория: @Model.Category</p>
</div>

<form asp-action="Delete" method="post">
    <hidden><input type="hidden" asp-for="Id"></hidden>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
