@model NewsSite.Models.Article

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Обратно към новините</a>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Delete" asp-route-id="@Model.ArticleId" class="btn btn-danger">Изтриване</a>
}
<div>
    <fieldset class="box-shadow fw-bold">
        @if (Model.Image != null)
        {
            <img class="card-img-top" src="data:image;base64,(@Convert.ToBase64String(@Model.Image))" height="300" />
        }
        <h2 class="text-lg-center">@Model.Title</h2>

        <p class="text-center">@Model.Content</p>

        <label class="text-end">@Model.User.FirstName @Model.User.FamilyName</label>

        <label class="text-start">@Model.Category.CategoryName</label>
    </fieldset>
</div>
