@using NewsSite.Models.Articles

@model CombinedViewModel

<h2>Новина</h2>

<a asp-action="Create" class="btn btn-primary">Добави новина</a>
<div>
    <table>
        <thead>
            <tr>
                <th>Снимка</th>
                <th>Заглавие</th>
                <th>Съдържание</th>
                <td>Категории</td>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var @article in Model.ListModelArticles)
            {
                <tr>
                    <td>
                        @if (@article.Image != null)
                        {
                            <img src="data:image;base64,(Convert.ToBase64String(@article.Image))" width="100" />
                        }
                    </td>
                    <td>@article.Title</td>
                    <td>@article.Content</td>
                    <td>
                        @foreach (var @category in Model.ListModelCategories)
                        {
                            @foreach (var @categoryArticle in Model.ListModelArticleCategories)
                            {

                                @if (article.ArticleId == @categoryArticle.ArticleId && @category.CategoryId == categoryArticle.CategoryId)
                                {
                                    <p>@category.CategoryName </p>
                                }

                            }
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Worker") || User.IsInRole("Admin"))
                        {
                        <a asp-action="Edit" asp-route-id="@article.ArticleId">Редактирай</a>
                        <form asp-action="Delete" asp-route-id="@article.ArticleId" method="post">
                            <button type="submit" class="btn btn-danger">Изтрий</button>
                        </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>