@model IEnumerable<NewsSite.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <h1>Новините днес</h1>

    <form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <label>Търсачка: <input type="text" name="SearchString"/></label>
            <input type="submit" value="Търси"/>
        </p>
    </form>

    <div class="homepage-grid-container">
        @foreach (var @article in Model)
        {
            <a class="text-dark" style="text-decoration:none" asp-action="Details" asp-controller="Article" asp-route-id="@article.ArticleId">
                <div class="homepage-grid-item">
                    @if (@article.Image != null)
                    {
                        <img src="data:image;base64,@(Convert.ToBase64String(@article.Image))" width="400" height="300" />
                    }
                    <p class="card-title">@article.Title</p>
                    <p>@article.User</p>
                    <p>@article.Category</p>
                    <p class="date text-start">@article.PublishedDate</p>
                </div>
            </a>
        }
    </div>
</body>
