@model IEnumerable<NewsSite.Models.Article>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
@{
    ViewData["Title"] = "Home Page";
    var theme = Context.Request.Cookies["UserPreference"] ?? "light";
}
<body>
    <h1>Новините днес</h1>
    <div class="homepage-grid-container">
        @foreach (var @article in Model)
        {
            <a class="text-dark" style="text-decoration:none" asp-action="Details" asp-controller="Article" asp-route-id="@article.ArticleId">
                <div class="homepage-grid-item">
                    @if (@article.Image != null)
                    {
                        <img src="data:image;base64,@(Convert.ToBase64String(@article.Image))" width="400" />
                    }
                    <p class="card-title">@article.Title</p>
                    <p>@article.User</p>
                    <p>@article.Category</p>
                    <p class="date">@article.PublishedDate</p>
                </div>
            </a>
        }
    </div>
</body>
