@model IEnumerable<NewsSite.Models.ApplicationUser>

<h1>Потребители</h1
<div>
    @foreach(var @item in Model)
    {
        <ul>
            <li>
                @item.FirstName
                @item.FatherName
                @item.FamilyName
                @item.Email
                @item.CustomUsername
                @item.
            </li>
        </ul>
    }
</div>
